html {
	background-image:url("../subtle-patterns/subtle-pattern-3.jpg");
	margin:0;
}

body {
	background-image:url("../subtle-patterns/subtle-pattern-3.jpg");
	font-family:'Junge', sans-serif;
	margin:0;
}

p, table {
	font-family:'lora', Helvetica, serif;
	font-size:18px;
}

.container {
	margin:auto;
	width:1000px;
	overflow:hidden;
}

.topbar {
	background-color:#3E3E3E;
	height:30px;
	color:grey;
}
	#description {
		display:inline-block;
		position:relative; 
		margin:0 0;
		left:172px;
		width:500px;
	}
	#email {
		display:inline-block;
		position:relative;
		left:530px;
	}
	.topbar p {
		margin-top:3px;
		font-family:Century Gothic, sans-serif;
		font-size:14px;
	}

.header {
	height:120px;
}

.logo {
	float: left;
	margin-top:20px;
}
	.logo a {
		text-decoration:none;
		color:#333333;
		/*float: left;*/
		width:200px;
		height:80px;
		/*background-color:lightsteelblue;*/
		font-size:70px;
		border-radius:5px;
	}

.topmenu {
	margin-top:40px;
	float: right;
}

#menulist a {
	text-decoration:none;
	/*opacity:0.5;*/
	color:#333333;
	font-size:20px;
	width:100px;
	height:100px;
	margin:6px;
	display:inline;
}

.main {
	padding-top: 20px;
	width:100%;
	float:left;
	clear: both;
	padding-bottom:30px;
}

#about {
	position: relative;
	float:left;
	background-image:url("../images/about_bgd.png"); 
	height:413px;
}

#photos {
	float:right;
	background-image:url("../images/photos_bgd.png");
	height:240px;
}

#videos {
	float:right;
	margin-top:20px;
	background-image:url("../images/videos_bgd.png");
	height:379px;
}

#events {
	float:left;
	margin-top:20px;
	background-image:url("../images/events_bgd.png");
	height:203px;
}

#members {
	float:right;
	margin-top:20px;
	margin-right:20px;
	background-image:url("../images/members_bgd.png");
	height:203px;
}

.footer {
	clear:both;
	height:50px;
	background-color: #505050;
	color:grey;
	border-top:2px solid grey;
}

	#copyright {
		position:relative;
		display:inline-block;
		left:172px;
		width:500px;
		margin-top:5px;
	}
	#search {
		position:relative;
		display:inline-block;
		margin-top:10px;
		left:452px;
	}
	.footer p {
		margin-top:0;
		font-family:Century Gothic, sans-serif;
		font-size:14px;
	}

.maininfo {
	background-color:#FFFFFF;
	border-radius: 15px;
	width:1000px;
	overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#DFDFDF;
	margin-bottom:30px;
}

.mainabout {
	padding:0 30px 0 30px;
	clear: both;
	font-family:verdana;
	color:#777777;
}
	.mainabout h2 {
		color:black;
		font-size:40px;
		font-family:'Oswald', sans-serif;
	}

/*.mainphoto {
	padding-top:54px;
	padding-right:20px;
	float:right;
	margin:0 auto;
}

.mainphoto img {
	margin-top:20px;
	border-radius: 10px;
	float:right;
}*/

.photoalbums {
	padding-top:30px;
	padding-bottom:20px;
	margin: auto;
	overflow:hidden;

}

.photoalbums .pic {
	display:inline-block;
	float:left;
	width:25%;
}

.albumtitle {
	clear:both;
	padding-top:20px;
}

/*#members #text {
	position:absolute;
	opacity:0.75;
	color:#FFFFFF;
	font-size:40px;
	top:683px;
}*/